
#not-found-main-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(5,8,5);
}

#not-found-img{
    width: 300px;
}
#not-found-headline{
    color:rgb(65, 225, 16);
}
#not-found-para{
    font-size: large;
    color: white;
}
#home-link{
    color: limegreen;
    text-decoration: none;
}

@media screen and (max-width:1300px){
    #main-container{

    }
    #not-found-headline{
        font-size: 20px;
    }
}